on:
  push:
    branches:
      - main
  repository_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SCCACHE_CACHE_SIZE: 1G
    steps:
      - uses: actions/checkout@v3
      - name: rust sccache
        uses: pl-strflt/rust-sccache-action@v1.1.1
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3.1.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
